

hr{
    width: 300px;
    height: 10px;
    background-color: #eee;
    border: none;
    margin-left: 0%;
    margin-right: 50%;
}

.logo{
    display: flex;
}
.logo_direction_login{
    justify-content: flex-end;
}
.logo_direction_register{
    margin-bottom: 5;
    justify-content: flex-start;
}
.error-auth {
    font-size: 0.8rem;
    color: #D32F2F;
}

.nav_container{
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.container_list_nav{
 margin-left: 4rem;
}
.list_nav{
    display: flex;
    font-weight: bold;
}
.list_nav_item_active{
    border-bottom: 2px solid #5603AD;
    
}
.container_perfil{
    display: flex;
}
.container_logo{
    display: flex;
}
.logo_navbar{
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 4px;
}
.name_navbar{
    color: gray;
    margin-right: 4px;
}


